
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&display=swap');
/* -------------common--style-------- */
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Encode Sans SC', sans-serif;
    background-color: #E5E5E5;
}
/*-------------- header-section-style start---------- */
.header{
    height: 94px;
    width: 100%;
    background-color: #562EFF;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.logo img{
    width: 40px;
    height: 51px;
    margin-left: 285px;
    margin-top: 20px;
}

.logo p{
    margin-left: 327px;
    margin-top: -44px;
    font-size: 29px;
    color: #fff;
    transition: 0.5s ease-in;
}
.logo p:hover{
    color: rgb(238, 84, 67);
}
.navbar{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 35px;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin-left: 40px;
    margin-top: 20px;

}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px 5px;
    transition: 0.3s ease-in;
}
nav ul li a:hover{
    border-bottom: 2px solid rgb(238, 84, 67);
    color: rgb(238, 84, 67);
}
.header-profile img{
    margin-top: 23px;
    border: 2px solid #562EFF;
    border-radius: 50%;
    transition: 0.3s ease-in;
}
.header-profile img:hover{
    border: 2px solid rgb(238, 84, 67);
    border-radius: 50%;
    transform: scale(1.1);
}
/*-------------- header-section-style-End---------------------- */

/*-------------- top player and top blogs-style-start---------- */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 870px;
    background-color: #fff;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
}
.top-players{
    margin-bottom: 30px;
}
.section-title{
    font-size: 24px;
    color:#562EFF;
    margin-top: 4px;
    margin-bottom: 30px;
    transition: 0.4s ease-in;
    cursor: pointer;
}
.section-title:hover{
    color: rgb(238, 84, 67);
    text-shadow: 0px 8px 3px #fa807273;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1f);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: 0.5s ease-in;
}
.player img:hover{
    border: 2px solid rgb(238, 84, 67);
    border-radius: 50%;
    transform: scale(1.1);
}
.players-name{
    margin-left: 16px;
    font-size: 18px;
    letter-spacing: 0.6px;
    cursor: pointer;
    transition: 0.5s ease-in;
}
.players-name:hover{
    color: rgb(238, 84, 67);
    text-shadow: 0px 8px 3px #fa807273;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
    transition: 0.3s ease-in;
}
hr:hover{
    border: 1px solid rgb(238, 84, 67);

}
/*-------------- top player-style-End---------- */

/* -------------------top blogs styles start------------------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
}
.blog{
    display: flex;
    overflow: hidden;
}
.thumnail img{
    width: 177px;
    height: 117px;
   
    transition: 0.6s ease-in;
}
.thumnail img:hover{
    transform: scale(1.1);
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    color: rgb(77, 66, 66);
    padding-right: 30px;
    letter-spacing: 0.8px;
    transition: 0.4s ease-out;
}
.blog-title:hover{
    color: rgb(238, 84, 67);
    text-shadow: 0px 8px 3px #fa807273;
}
.blog-author{
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
    color:#562EFF;
    font-size: 16px;
}
/* -------------------top blogs styles End------------------- */

/* --------------------Latest course styles start------------ */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 34px;
    width: 230px;
}
.course{
    box-shadow: 16px 15px 32px #908c8c;
    padding: 20px;
    border-radius: 10px;
    transition: 0.6s ease-in;
}
.course:hover{
    box-shadow: none;
}
.course-banner img{
    width: 224px;
    height: 104px;
    border-radius: 15px;
    transition: 0.6s ease-in;
}
.course:hover .course-banner img{
    box-shadow: 12px 13px 30px #8c8686;
    border-radius: 15px;

}
.course-title{
    transition: 0.4s ease-out;
    cursor: pointer;
    
    }
.course-title:hover{
    color: rgb(238, 84, 67);
    text-shadow: 0px 8px 3px #fa807273;
}
.course-author{
    transition: 0.4s ease-out;
    cursor: pointer;
}
.course-author:hover{
    color: salmon;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color:#FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-duration{
    background-color: #d20acc4f;
    padding: 3px 11px;
    font-size: 13px;
    border-radius: 15px;
}
.rating{
    opacity: 0.6;
}

/* ------------------media quarise--------------------------------- */
/* -------------mobile-device-------- */
@media only screen and (max-width:688px) {
    .header{
        display: none;
    }
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
       grid-template-columns: repeat(1, 1fr);
    }
    .section-title{
        text-align: center;
    }
    .player, .blogs{
        flex-direction: column;
    }
    
    .courses{
       margin-left: 50px;
       grid-row-gap: 30px;
    }
     
}
/* -------------------ipad devic----- */

@media only screen and (min-width: 688px) and (max-width: 992px){
    .header{
        display: none;
    }
    .container{
        width: 100%;
    }
    .section-title{
        text-align: center;
    }
    .player{
        padding-left: 100px;
    }
    .players, .courses{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
    }
    .blog{
        padding-left: 30px;
    }
    .courses{
        padding-left: 100px;
    }
}